.BackHome:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    animation: toleft 1s infinite alternate;
}

@keyframes toleft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-5px);
    }
}