.MoviesBox {
    background: black;
}

.MovieItems:nth-child(odd) > .MovieTextsCtrl {
    background: rgba(255, 255, 255, .1);
}

.MovieItems:nth-child(even) > .MovieTextsCtrl {
    background: rgba(124, 179, 241, 0.5);
}