.Title {
    animation: flow 10s linear infinite;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
}

@keyframes flow {
    from {
        transform: translateX(-70vw);
    }
    to {
        transform: translateX(70vw);
    }
}